<template>
    <div class="col-12 justify-content-center" style="padding: 0">
        <div class="card" v-if="user.authenticated">
            <div class="card-header">Messagerie</div>

            <div class="card-body" style="padding: 0 !important;">
                <div class="chat-app" style="display: flex;">
                    <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage" class="col-9"/>
                    <ContactsList :contacts="contacts" @selected="startConversationWith" class="col-3"/>
                </div>
            </div>
        </div>
        <div v-else style="text-align: center;">
            <span class="alert alert-danger">
                Vous devez être connecté.
            </span>
        </div>
    </div>
</template>

<script>

    import Conversation from './Conversation';
    import ContactsList from './ContactsList';

    export default {
        components:{
            Conversation,
            ContactsList
        },
        data(){
            return {
                selectedContact: null,
                messages: [],
                contacts: [],
            };
        },
        computed:{
            user: function(){ return window.Laravel.user },
        },
        methods:{
            startConversationWith(contact){
                this.updateUnreadCount(contact, true);
                axios.get('/api/conversation/'+contact.id)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    });
            },
            saveNewMessage(message){
                this.messages.push(message);
            },
            handleIncoming(message){
                if (this.selectedContact && message.from == this.selectedContact.id){
                    this.saveNewMessage(message);
                    return;
                }
                this.updateUnreadCount(message.from_contact, false);
            },
            updateUnreadCount(contact, reset){
                this.contacts = this.contacts.map((single) => {
                    if(single.id !== contact.id){
                        return single;
                    }

                    if(reset){
                        single.unread = 0;
                    }
                    else{
                        single.unread += 1;
                    }

                    return single;
                })
            }
        },
        mounted() {
            if(!this.user.authenticated){
                window.location.href = "/login";
            }

            Echo.private('messages.'+window.Laravel.user.id)
                .listen('NewMessage', (e) => {
                    this.handleIncoming(e.message);
                });

            axios.get("/api/users")
                .then((response) => {
                    this.contacts = response.data;
            });
        }
    }
</script>

<style lang="scss" scope>
    .chat-app{
        width: 100%;
    }
</style>