<template>
    <div class="contacts-list">
        <ul>
            <li v-for="contact in sortedContacts" :key="contact.id" @click="selectContact(contact)" :class="{'selected': contact == selected }"  >
                <div class="rank">
                    <img src="https://avatars.servers.getgo.com/2205256774854474505_medium.jpg" alt="rank">
                </div>
                <div class="contact">
                    <p class="name">{{ contact.name }}</p>
                </div>
                <span class="unread" v-if="contact.unread"> {{ contact.unread }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
    import * as _ from "lodash";

    export default {
        props: {
            contacts:{
                type: Array,
                default: [],
            }
        },
        data(){
            return{
                selected: this.contacts.length ? this.contacts[0] : null,
            }
        },
        methods: {
            selectContact(contact){
                this.selected = contact;
                this.$emit('selected', contact);
            }
        },
        computed: {
            sortedContacts() {
                return _.sortBy(this.contacts, [(contact) => {

                    if(contact == this.selected){
                        return Infinity;
                    }

                    return contact.unread;
                }]).reverse();
            }
        }
    }
</script>

<style lang="scss" scoped>

    .contacts-list{
        padding: 0;
        max-height: 600px;
        overflow: hidden;
        border-left: 1px solid #a6a6a6;

        ul{
            padding-left: 0;
            list-style-type: none;

            li{
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #a6a6a6;
                height: 80px;
                position: relative;
                cursor: pointer;

                &.selected{
                    background-color: lightskyblue;
                }

                span.unread{
                    background: darkgreen;
                    color: #fff;
                    position: absolute;
                    right: 11px;
                    top: 20px;
                    display: flex;
                    font-weight: 700;
                    min-width: 20px;
                    justify-content: center;
                    align-items: center;
                    line-height: 20px;
                    font-size: 12px;
                    padding: 0 4px;
                    border-radius: 3px;
                }

                .rank{
                    flex: 1;
                    display: flex;
                    align-items: center;

                    img{
                        width: 35px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .contact{
            flex: 3;
            font-size: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p{
                margin: 0;
                &.name{
                    font-weight: bold;
                }
            }
        }
    }
</style>