<template>
    <div class="conversation">
        <h1>{{ contact ? contact.name : "Choisissez un contact" }}</h1>
        <MessagesFeed :contact="contact" :messages="messages"/>
        <MessageComposer :contact="contact" @send="sendMessage" />
    </div>
</template>

<script>

    import MessageComposer from './MessageComposer';
    import MessagesFeed from './MessagesFeed';

    export default {
        components:{
            MessageComposer, MessagesFeed
        },
        props: {
            contact: {
                type: Object,
                default: null
            },
            messages: {
                type: Array,
                default: null
            }
        },
        methods:{
            sendMessage(text){
                if(!this.contact){
                    return;
                }
                axios.post('/api/conversation/send',{
                    contact_id: this.contact.id,
                    text: text,
                }).then((response) => {
                    this.$emit('new', response.data);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .conversation{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1{
            font-size: 20px;
            padding: 10px;
            margin: 0;
            border-bottom: 1px dashed lightgray;
        }
    }
</style>