<template>
    <div class="annonce" style="width: 100%;">
        <AnnonceSolo v-bind:annonce="annonce"></AnnonceSolo>
    </div>
</template>
<script>
    import Vue from 'vue';
    import axios from 'axios';
    import AnnonceSolo from '../components/AnnonceSolo'

    export default {
        components: {
            AnnonceSolo
        },
        data() {
            return {
                annonce: null,
            };
        },
        mounted() {
            this.getAnnonce();
        },
        methods: {
            async getAnnonce(){
                let response = await this.$http.get('/api/annonces/'+this.$route.params.id);

                if("data" in response){
                    this.annonce = response.data.data;
                }
            }
        }
    }
</script>