<template>
    <div style="width: 100%;">
        <div v-if="error" class="alert-danger">
            {{ error }}
        </div>
        <div class="d-flex">
            <div class="col-4 form-group">
                <label for="plante">Type de plante</label>
                <select class="form-control" id="plante" v-model="selectPlante" v-on:change="getAnnonces()">
                    <option value="0">Toutes</option>
                    <option v-for="plante in plantes" :value="plante.id">{{ plante.nom }}</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label for="categorie">Catégorie de l'annonce</label>
                <select class="form-control" v-model="selectCategorie" id="categorie" v-on:change="getAnnonces()">
                    <option value="0">Toutes</option>
                    <option v-for="typeAnnonce in typesAnnonces" :value="typeAnnonce.id">{{ typeAnnonce.type }}</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label for="ville">Ville</label>
                <select v-model="selectVille" v-on:change="getAnnonces()" class="form-control" id="ville">
                    <option value="0">Toutes</option>
                    <option value="bordeaux">Bordeaux</option>
                    <option value="clichy">Clichy</option>
                    <option value="le havre">Le Havre</option>
                    <option value="lille">Lille</option>
                    <option value="lyon">Lyon</option>
                    <option value="marseille">Marseille</option>
                    <option value="montpellier">Montpellier</option>
                    <option value="nantes">Nantes</option>
                    <option value="nice">Nice</option>
                    <option value="paris">Paris</option>
                    <option value="rennes">Reims</option>
                    <option value="paris">Rennes</option>
                    <option value="strasbourg">Strasbourg</option>
                    <option value="toulon">Toulon</option>
                    <option value="toulouse">Toulouse</option>
                </select>
            </div>
        </div>
        <div class="d-flex" v-if="user.authenticated">
            <div class="col">
                <input v-on:change="getAnnonces()" v-model="favoris" type="checkbox" id="favoris"> <label for="favoris">Favoris seulement</label>
            </div>
        </div>
        <div v-if="annonces">
            <div v-if="annonces.length > 0">
                <AnnoncesListe
                v-for="annonce in annonces"
                v-bind:key="annonce.id"
                v-bind:annonce="annonce"
                ></AnnoncesListe>
            </div>
            <div v-else style="text-align: center;">
                <span class="alert alert-danger">
                    Aucun résultat
                </span>
            </div>
        </div>
        <div v-else style="text-align: center;">
                <span class="alert alert-danger">
                    Aucun résultat
                </span>
        </div>

        <div class="pagination" v-if="links.prev||links.next">
            <button :disabled="! links.prev" @click.prevent="goToPrev">Previous</button>
            <p v-if="meta">
                Page {{ meta.current_page }} sur {{ meta.last_page }}. {{ meta.total }} annonces
            </p>
            <button :disabled="! links.next" @click.prevent="goToNext">Next</button>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import AnnoncesListe from '../components/AnnoncesListe'
    import Vue from 'vue';

    export default {
        components: {
            AnnoncesListe
        },
        data() {
            return {
                page: null,
                favoris: 0,
                annonces: null,
                plantes: null,
                typesAnnonces: null,
                selectPlante: 0,
                selectCategorie: 0,
                selectVille: 0,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                meta: {
                    current_page: null,
                    last_page: null,
                    total: null,
                },
                error: null,
            };
        },
        mounted:
            function () {
                this.getPlantes();
                this.getTypesAnnonces();

                if(this.$route.query.ville){
                    this.selectVille = this.$route.query.ville;
                }
                if(this.$route.query.categorie){
                    this.selectCategorie = this.$route.query.categorie;
                }
                if(this.$route.query.plante){
                    this.selectPlante = this.$route.query.plante;
                }

                this.getAnnonces();
            }
        ,
        computed: {
            goToNext(){
                let url = new URL(this.links.next);
                this.page = url.searchParams.get("page");
                this.getAnnonces();
            },
            goToPrev(){
                let url = new URL(this.links.prev);
                this.page = url.searchParams.get("page");
                this.getAnnonces();
            },
            user: function(){ return window.Laravel.user },
        },
        methods: {
            async getAnnonces(){
                this.links.first = null;
                this.links.last = null;
                this.links.next = null;
                this.links.prev = null;
                this.annonces = null;
                this.meta.current_page = null;
                this.meta.last_page = null;
                this.meta.total = null;

                let params = {
                    page: this.page,
                    type_plante_id: this.selectPlante,
                    type_annonce_id: this.selectCategorie,
                    ville: this.selectVille,
                    favoris: this.favoris ? 1 : 0,
                };
                let responseAnnonces = await this.$http.get('/api/annonces', { params });
                if("data" in responseAnnonces.data){
                    this.annonces = responseAnnonces.data.data;
                    this.links.first = responseAnnonces.data.links.first;
                    this.links.last = responseAnnonces.data.links.last;
                    this.links.prev = responseAnnonces.data.links.prev;
                    this.links.next = responseAnnonces.data.links.next;
                    this.meta.current_page = responseAnnonces.data.meta.current_page;
                    this.meta.last_page = responseAnnonces.data.meta.last_page;
                    this.meta.total = responseAnnonces.data.meta.total;
                }
            },
            async getPlantes(){
                let responsePlantes = await this.$http.get('/api/plantes');
                if("data" in responsePlantes.data){
                    this.plantes = responsePlantes.data.data;
                }
            },
            async getTypesAnnonces(){
                let responseTypesAnnonces = await this.$http.get('/api/typesAnnonces');
                if("data" in responseTypesAnnonces.data){
                    this.typesAnnonces = responseTypesAnnonces.data.data;
                }
            }
        }
    }
</script>