<template>
    <b-container fluid id="top-page" class="bg-blue h-100">
        <!--Nav-bar-->
        <b-navbar toggleable="lg" type="dark" variant="" class="bg-blue fixed-top">
            <b-navbar-brand :to="{ name: 'home' }" variant="text-dark" class="ml-4 pl-1"><b class="color-black">GreenSwap</b></b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto mr-4">
                    <b-nav-item href="#" vb-tooltip title="
                        Le projet GreenSwap a débuté en Mars 2018 dans un contexte où la prise de conscience
                        d’une crise écologique profonde se généralise, où l’accessibilité à une alimentation saine
                        devient élitiste et coûteuse, où la médecine naturelle est réprimée par les laboratoires
                        pharmaceutiques qui rendent l’accès aux plantes médicinales difficile au profit du marché
                        des médicaments, mais où parallèlement les notions de partages, d’alimentation saine et
                        d’éco-responsabilité reviennent dans les habitudes de vie et les préoccupations.
                        La santé, l’alimentation et le sociale, 3 enjeux actuelles et 3 axes majeures de lutte pour la
                        protection de la nature. Au-delà de l’aspect anthropocentrique, cela permettra également de
                        réconcilier les populations avec les actions écologique, éthique et éco-responsable
                        permettant par la même occasion d’amener les gens à participer à la protection de la nature
                        pour la nature et plus seulement pour le bien-être de l’Homme." class="mr-4 ml-4"><span class="color-black">GreenSwap ?</span></b-nav-item>
                    <b-nav-item :to="{ name: 'annonces.liste' }" class="mr-4 ml-4"><span class="color-black">Rechercher</span></b-nav-item>
                    <b-nav-item href="/admin/annonce" class="mr-4 ml-4"><span class="color-black">Proposer</span></b-nav-item>

                    <b-nav-item-dropdown right class="ml-4" v-if="user.authenticated">
                        <!-- Using 'button-content' slot -->
                        <template slot="button-content"><span class="color-black"><v-icon name="user-circle" scale="1"/></span></template>
                        <b-dropdown-item href="#">{{ user.prenom }}</b-dropdown-item>
                        <b-dropdown-item href="/admin/edit-account-info">Profil</b-dropdown-item>
                        <b-dropdown-item href="/auth/logout">Se déconnecter</b-dropdown-item>
                    </b-nav-item-dropdown>

                    <b-nav-item-dropdown right class="ml-4" v-else>
                        <!-- Using 'button-content' slot -->
                        <template slot="button-content" class="mr-5"><span class="color-black mr-2"><v-icon name="lock" scale="1"/></span></template>
                        <b-dropdown-item href="/register">S'inscrire</b-dropdown-item>
                        <b-dropdown-item href="/login">Se connecter</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-link href="#top-page" v-b-tooltip.hover  title="Haut" class="mobile-display-none js-scroll-trigger fixed-bottom mb-5" style="margin-left: 95%;"><v-icon name="arrow-circle-up" alt="Retour haut de page" scale="2" class="color-black bg-hover-icon-backtop"/></b-link>

        <!--Title home & search -->
        <b-row style="">
            <!--Left-nav -->
            <b-col lg="3" class="pt-5 mt-5">
                <b-row class="pt-5 pb-5 pl-4">
                    <b-nav vertical b-col lg="12" v-if="user.authenticated">
                        <b-nav-item href="/admin" class="navbar-left-link"><span>Tableau de bord</span></b-nav-item> <br>
                        <b-nav-item href="/admin/annonce" class="navbar-left-link"><span>Mes annonces</span></b-nav-item> <br>
                        <b-nav-item :to="{ name: 'messenger.index' }" class="navbar-left-link"><span>Mes messages</span></b-nav-item> <br>
                        <b-nav-item :to="{ name: 'dons.index' }" class="navbar-left-link"><span>Action éco-responsable</span></b-nav-item> <br>
                        <b-nav-item :to="{ name: 'articles.index' }" class="navbar-left-link"><span>Bibliothèque</span></b-nav-item> <br>
                        <b-nav-item href="#" class="navbar-left-link"><span>Vos combats</span></b-nav-item> <br>
                    </b-nav>
                    <b-nav vertical b-col lg="12" v-else>
                        <b-nav-item href="/#etapes" class="navbar-left-link"><span><v-icon name="info-circle" scale="2" class="mr-2"/> Comment ça marche ?</span></b-nav-item> <br>
                        <b-nav-item href="/#approche" class="navbar-left-link"><span><v-icon name="leaf" scale="2" class="mr-2"/> Notre approche</span></b-nav-item> <br>
                        <b-nav-item href="/#vous" class="navbar-left-link"><span><v-icon name="fingerprint" scale="2" class="mr-2"/> Vous</span></b-nav-item><br>
                        <b-nav-item href="/#agir" class="navbar-left-link"><span><v-icon name="globe-americas" scale="2" class="mr-2"/> Soyons éco-responsable</span></b-nav-item> <br>
                        <b-nav-item href="/#bibliotheque" class="navbar-left-link"><span><v-icon name="book" scale="2" class="mr-2"/> Bibliothèque</span></b-nav-item> <br>
                        <b-nav-item href="/#agir" class="navbar-left-link"><span><v-icon name="hand-paper" scale="2" class="mr-2"/>Combat du mois</span></b-nav-item> <br>
                    </b-nav>
                </b-row>
            </b-col>
            <!--Center-content : title & search -->
            <b-col lg="9">
                <b-row class="pt-5 pr-5">
                    <b-col lg="12" class="pt-5">
                        <b-row>
                            <b-col lg="8" style="padding-left: 32px;">
                                <div class="intro-text">
                                    <div class="intro-heading color-black mt-5"><h1><b>Ensemble,<br> échangeons nos plantes et notre savoir</b></h1></div>
                                    <span class="bg-black pt-1 pr-4 pb-2 pl-4 mt-1 mb-2 color-white"><b>Agir éco-responsable</b></span>
                                </div>
                            </b-col>
                            <b-col lg="4"></b-col>
                        </b-row>
                        <b-row class="pt-4 pb-4 mb-4">
                            <b-col lg="10" class="mt-4 mb-4 pt-3 pb-3 b-white">
                                <b-form @submit="onSubmit" inline>
                                    <b-col lg="3" class="pt-4 pb-2 m-0">
                                        <b-form-select class="form-control w-100 mt-0 border-radius-none"id="plante" v-model="selectPlante" v-on:change="getAnnonces()">
                                            <option value="0">Toutes</option>
                                            <option v-for="plante in plantes" :value="plante.id">{{ plante.nom }}</option>
                                        </b-form-select>
                                        <label for="plante" class="text-left ml-0"><b>Type de plante</b></label>
                                    </b-col>
                                    <b-col lg="3" class="pt-4 pb-2 m-0">
                                        <b-form-select class="form-control w-100 mt-0 border-radius-none" v-model="selectCategorie" id="categorie" v-on:change="getAnnonces()">
                                            <option value="0">Toutes</option>
                                            <option v-for="typeAnnonce in typesAnnonces" :value="typeAnnonce.id">{{ typeAnnonce.type }}</option>
                                        </b-form-select>
                                        <label for="categorie" style="text-align: left; margin-left: 0px;"><b>Catégorie</b></label>
                                    </b-col>
                                    <b-col lg="3" class="pt-4 pb-2 m-0">
                                        <b-form-select class="form-control w-100 mt-0 border-radius-none" v-model="selectVille" v-on:change="getAnnonces()" id="ville">
                                            <option value="0">Toutes</option>
                                            <option value="bordeaux">Bordeaux</option>
                                            <option value="clichy">Clichy</option>
                                            <option value="le havre">Le Havre</option>
                                            <option value="lille">Lille</option>
                                            <option value="lyon">Lyon</option>
                                            <option value="marseille">Marseille</option>
                                            <option value="montpellier">Montpellier</option>
                                            <option value="nantes">Nantes</option>
                                            <option value="nice">Nice</option>
                                            <option value="paris">Paris</option>
                                            <option value="rennes">Reims</option>
                                            <option value="paris">Rennes</option>
                                            <option value="strasbourg">Strasbourg</option>
                                            <option value="toulon">Toulon</option>
                                            <option value="toulouse">Toulouse</option>
                                        </b-form-select>
                                        <label for="ville" style="text-align: left;"><b>Ville</b></label>
                                    </b-col>
                                    <b-col lg="3" class="pt-0 pb-2 m-0">
                                        <b-button type="submit" class="btn-hover-white border-radius-none w-100 mt-0 bg-black b-black"><b>Rechercher</b></b-button>
                                        <label class="sr-only">Rechercher une annonce</label>
                                    </b-col>
                                </b-form>
                            </b-col>
                            <b-col lg="2" class="mt-4 mb-4 pt-4 pb-4">
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

        <!--Bottom arrow-->
        <b-row class="pt-1 pb-1 mb-4">
            <b-link href="#vous" class="mx-auto js-scroll-trigger"><v-icon name="chevron-down" alt="Descendre à la section suivante" scale="3" class="color-black mx-auto"/></b-link>
        </b-row>

        <div class="d-flex justify-content-center" id="vous" style="padding-bottom: 30px;">
            <router-view></router-view>
        </div>
    </b-container>
</template>
<script>
    import { mapState } from 'vuex';
    import BCol from "bootstrap-vue/src/components/layout/col";
    import AnnoncesListe from '../components/AnnoncesListe'

    export default {

        components: {BCol, AnnoncesListe} ,

        data() {
            return {
                page: null,
                favoris: 0,
                annonces: null,
                plantes: null,
                typesAnnonces: null,
                selectPlante: 0,
                selectCategorie: 0,
                selectVille: 0,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                meta: {
                    current_page: null,
                    last_page: null,
                    total: null,
                },
                error: null,
            };
        },
        mounted:
            function () {
                this.getPlantes();
                this.getAnnonces();
                this.getTypesAnnonces();

                if(this.$route.query.ville){
                    this.selectVille = this.$route.query.ville;
                }
                if(this.$route.query.categorie){
                    this.selectCategorie = this.$route.query.categorie;
                }
            }
        ,
        computed: {
            goToNext(){
                let url = new URL(this.links.next);
                this.page = url.searchParams.get("page");
                this.getAnnonces();
            },
            goToPrev(){
                let url = new URL(this.links.prev);
                this.page = url.searchParams.get("page");
                this.getAnnonces();
            },
            user: function(){ return window.Laravel.user },
        },
        methods: {
            onSubmit(evt){
                evt.preventDefault();
                let href = "/annonces?";

                if(this.selectCategorie){
                    href = href + "&categorie="+this.selectCategorie;
                }
                if(this.selectVille){
                    href = href + "&ville="+this.selectVille;
                }
                if(this.selectPlante){
                    href = href + "&plante="+this.selectPlante;
                }

                window.location.href = href;
            },
            async getAnnonces(){
                this.links.first = null;
                this.links.last = null;
                this.links.next = null;
                this.links.prev = null;
                this.annonces = null;
                this.meta.current_page = null;
                this.meta.last_page = null;
                this.meta.total = null;

                let params = {
                    page: this.page,
                    type_plante_id: this.selectPlante,
                    type_annonce_id: this.selectCategorie,
                    ville: this.selectVille,
                    favoris: this.favoris ? 1 : 0,
                };
                let responseAnnonces = await this.$http.get('/api/annonces', { params });
                if("data" in responseAnnonces.data){
                    this.annonces = responseAnnonces.data.data;
                    this.links.first = responseAnnonces.data.links.first;
                    this.links.last = responseAnnonces.data.links.last;
                    this.links.prev = responseAnnonces.data.links.prev;
                    this.links.next = responseAnnonces.data.links.next;
                    this.meta.current_page = responseAnnonces.data.meta.current_page;
                    this.meta.last_page = responseAnnonces.data.meta.last_page;
                    this.meta.total = responseAnnonces.data.meta.total;
                }
            },
            async getPlantes(){
                let responsePlantes = await this.$http.get('/api/plantes');
                if("data" in responsePlantes.data){
                    this.plantes = responsePlantes.data.data;
                }
                if(this.$route.query.plante){
                    this.selectPlante = this.$route.query.plante;
                }
            },
            async getTypesAnnonces(){
                let responseTypesAnnonces = await this.$http.get('/api/typesAnnonces');
                if("data" in responseTypesAnnonces.data){
                    this.typesAnnonces = responseTypesAnnonces.data.data;
                }
            }
        }
    }
</script>
<style type="text/css">
    .bg-blue{
        background-color: #a7e0ce;
    }
    .bg-dark-blue{
        background-color: #031935;
    }
    .bg-black{
        background-color: black;
    }
    .color-white{
        color:white;
    }
    .color-black{
        color:black;
    }
    .color-blue{
        color: #a7e0ce;
    }
    .b-white{
        border: 1px solid white;
    }
    .b-black{
        border: 1px solid black;
    }
    .bt-black{
        border-top: 1px solid black;
    }
    .border-radius-none{
        border-radius: 0px;
    }

    .opacity{
        background-color: rgba(0, 0, 0, 0.7);
    }
    label{
        color: black;
        font-family: "Myriad Pro";
    }
    .btn-hover-white:hover{
        background-color: white;
        color: black;
        border: 1px solid white;
    }
    .navbar-left-link span{
        list-style: none;
        color: black;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 3px solid black;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .bg-hover-icon-backtop:hover{
        background-color: white;
        border-radius: 30px;
    }
    .height-row-vous{
        min-height: 800px;
    }
    .bg-img-vous{
        background-image: url('../../images/succulents.jpg');
        background-size:cover;
    }

    .bg-img-approche{
        background-image: url('../../images/fougere.jpg');
        background-size:cover;
    }

    .bg-img-combat{
        background-image: url('../../images/combats/zapara_nellyKimChi.jpg');
        background-size:cover;
    }

    @media (min-width: 992px) {
        .mobile-display-none{
            display: block;
        }
    }
    @media (max-width: 992px) {
        .mobile-display-none{
            display: none;
        }
    }
    @media (max-width: 576px) {
        .mobile-display-none-576px{
            display: none;
        }
    }
    @media (min-width: 576px) {
        .display-none-576px{
            display: none;
        }
    }
</style>