<template>

    <div style="width: 100%;">
        <h1>Bibliothèque</h1>
        <div v-if="error" class="alert-danger">
            {{ error }}
        </div>
        <div v-if="articles">
            <div v-for="article in articles" v-bind:key="article.id">
                <div v-if="article" class="d-flex">
                    <div class="col-12">
                        <h2>{{ article.titre}}</h2>
                        <p><strong>Description : </strong> <span v-html="article.description"></span></p>
                        <p v-if="article.url_lien"><strong>En savoir plus : </strong> <a :href="article.url_lien">{{ article.url_lien }}</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination" v-if="links.prev||links.next">
            <button :disabled="! links.prev" @click.prevent="goToPrev">Previous</button>
            <p v-if="meta">
                Page {{ meta.current_page }} sur {{ meta.last_page }}. {{ meta.total }} articles
            </p>
            <button :disabled="! links.next" @click.prevent="goToNext">Next</button>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import Vue from 'vue';

    export default {
        data() {
            return {
                page: null,
                articles: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                meta: {
                    current_page: null,
                    last_page: null,
                    total: null,
                },
                error: null,
            };
        },
        mounted:
            function () {
                this.getArticles();
            }
        ,
        computed: {
            goToNext(){
                let url = new URL(this.links.next);
                this.page = url.searchParams.get("page");
                this.getArticles();
            },
            goToPrev(){
                let url = new URL(this.links.prev);
                this.page = url.searchParams.get("page");
                this.getArticles();
            },
            user: function(){ return window.Laravel.user },
        },
        methods: {
            async getArticles(){
                this.links.first = null;
                this.links.last = null;
                this.links.next = null;
                this.links.prev = null;
                this.articles = null;
                this.meta.current_page = null;
                this.meta.last_page = null;
                this.meta.total = null;

                let params = {
                    page: this.page,
                };
                let responseArticles = await this.$http.get('/api/articles', { params });
                if("data" in responseArticles.data){
                    this.articles = responseArticles.data.data;
                    this.links.first = responseArticles.data.links.first;
                    this.links.last = responseArticles.data.links.last;
                    this.links.prev = responseArticles.data.links.prev;
                    this.links.next = responseArticles.data.links.next;
                    this.meta.current_page = responseArticles.data.meta.current_page;
                    this.meta.last_page = responseArticles.data.meta.last_page;
                    this.meta.total = responseArticles.data.meta.total;
                }
            },
        }
    }
</script>