<template>

    <div style="width: 100%;">
        <h1>Action éco-responsable</h1>
        <div v-if="error" class="alert-danger">
            {{ error }}
        </div>
        <div v-if="dons">
            <div v-for="don in dons" v-bind:key="don.id">
                <div v-if="don" class="d-flex">
                    <div class="col-12">
                        <h2>{{ don.titre}}</h2>
                        <p><strong>Description : </strong> <span v-html="don.description"></span></p>
                        <p><strong>Site internet : </strong> <a :href="don.url_lien">{{ don.url_lien }}</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination" v-if="links.prev||links.next">
            <button :disabled="! links.prev" @click.prevent="goToPrev">Previous</button>
            <p v-if="meta">
                Page {{ meta.current_page }} sur {{ meta.last_page }}. {{ meta.total }} dons
            </p>
            <button :disabled="! links.next" @click.prevent="goToNext">Next</button>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import Vue from 'vue';

    export default {
        data() {
            return {
                page: null,
                dons: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                meta: {
                    current_page: null,
                    last_page: null,
                    total: null,
                },
                error: null,
            };
        },
        mounted:
            function () {
                this.getDons();
            }
        ,
        computed: {
            goToNext(){
                let url = new URL(this.links.next);
                this.page = url.searchParams.get("page");
                this.getDons();
            },
            goToPrev(){
                let url = new URL(this.links.prev);
                this.page = url.searchParams.get("page");
                this.getDons();
            },
            user: function(){ return window.Laravel.user },
        },
        methods: {
            async getDons(){
                this.links.first = null;
                this.links.last = null;
                this.links.next = null;
                this.links.prev = null;
                this.dons = null;
                this.meta.current_page = null;
                this.meta.last_page = null;
                this.meta.total = null;

                let params = {
                    page: this.page,
                };
                let responseDons = await this.$http.get('/api/dons', { params });
                if("data" in responseDons.data){
                    this.dons = responseDons.data.data;
                    this.links.first = responseDons.data.links.first;
                    this.links.last = responseDons.data.links.last;
                    this.links.prev = responseDons.data.links.prev;
                    this.links.next = responseDons.data.links.next;
                    this.meta.current_page = responseDons.data.meta.current_page;
                    this.meta.last_page = responseDons.data.meta.last_page;
                    this.meta.total = responseDons.data.meta.total;
                }
            },
        }
    }
</script>