<template>
    <div>
        <!--Title home & search -->
        <b-row id="vous" class="height-row-vous">
            <b-col lg="12" class="mt-5 p-5 bg-white bg-img-vous mobile-display-none-576px">
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous aimez les plantes ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous souhaitez avoir une vie saine ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous aimez la nature, le sport, la culture ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous êtes curieux à propos de la médecine naturelle ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous voulez être d'avantage éco-responsable ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Vous voulez participer à la protection de la nature ?</b></span><br><br>
                <span class=" pt-1 pr-4 pb-2 pl-4 mt-2 mb-2 color-white opacity"><b>Bienvenue !</b></span><br><br>
            </b-col>
            <b-col lg="12" class="mt-5 p-5 bg-white bg-img-vous display-none-576px">
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous aimez les plantes ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous souhaitez avoir une vie saine ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous aimez la nature, le sport, la culture ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous êtes curieux à propos de la médecine naturelle ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous voulez être d'avantage éco-responsable ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Vous voulez participer à la protection de la nature ?</b></div><br><br>
                <div class=" pt-1 pr-4 pb-2 pl-4 m-2 color-white opacity"><b>Bienvenue !</b></div><br><br>
            </b-col>
        </b-row>

        <!-- Step user help - Comment ça marche ? -->
        <b-row id="etapes" class="bt-black">
            <b-col lg="1" class="bg-white"></b-col>
            <b-col lg="10" class="m-0 p-5 bg-white">
                <b-row class="mx-auto pt-5">
                    <h2 class="mx-auto">Comment ça marche ?</h2>
                </b-row>
                <b-row class="mx-auto p-2">
                    <span class="bg-black pt-1 pr-5 pb-2 pl-5 color-white mx-auto"><b>En 4 étapes</b></span>
                </b-row>
                <b-row class="pt-5">
                    <b-col lg="3"><b-row class="pt-4 pr-2 pb-4 pl-2 m-1 bg-blue h-100">
                        <b-col lg="12" class="mx-auto text-center mb-4"><h3 class="color-black mx-auto">Etape 1</h3></b-col>
                        <b-col lg="12" class="mx-auto text-center mb-5"><span class="bg-dark-blue pt-1 pr-4 pb-2 pl-4 mt-1 mb-2 color-white mx-auto"><b>Cultiver</b></span></b-col>
                        <b-col lg="12" class="mx-auto mb-5"><p class="text-justify">Commencez par faire pousser votre petit jardin d'intérieur ou d'extérieur.<br>
                            Pour cela vous pouvez :<br>
                            <br>
                            - Faire germer des graines<br>
                            - Faire des boutures de vos plantes<br>
                            - Recueillir une plante via une des annonces GreenSwap<br>
                            <br>
                            Notes : Nous souhaitons via GreenSwap favoriser l'accessibilité aux plantes médicinales biologique
                            et lutter contre l'uniformisation des cultures de fruits et légumes.<br><br>
                            Nous serions ainsi ravis de compter parmis nos membres des personnes qui possèdent par exemple de la prêle, de la maca, du guarana, de l'aloe vera ou encore d'anciennes variétés de tomates !<br>
                        </p></b-col>
                        <b-col lg="12" class="mx-auto mb-5 text-center"><v-icon name="seedling" scale="6" class="color-black mx-auto"/></b-col>

                    </b-row></b-col>
                    <b-col lg="3"><b-row class="pt-4 pr-2 pb-4 pl-2 m-1 bg-blue h-100">
                        <b-col lg="12" class="mx-auto text-center mb-4"><h3 class="color-black mx-auto">Etape 2</h3></b-col>
                        <b-col lg="12" class="mx-auto text-center mb-5"><span class="bg-dark-blue pt-1 pr-4 pb-2 pl-4 mt-1 mb-2 color-white mx-auto"><b>Proposer</b></span></b-col>
                        <b-col lg="12" class="mx-auto mb-5"><p class="text-justify">Lorsque que votre serre commence à prendre vie, vous pouvez créer une nouvelle annonce pour échanger une de vos plantes ou boutures en renseignant :<br>
                            <br>
                            - le nom de la plante<br>
                            - la catégorie<br>
                            - le type <br>
                            - une photographie<br>
                            <br>
                            Si une personne est intéressée elle vous contactera directement via la messagerie instantanée de GreenSwap.
                            Vous pourrez ainsi convenir ensemble d'un point d'échange qui vous arrange.
                        </p></b-col>
                        <b-col lg="12" class="mx-auto mb-5 text-center"><v-icon name="hand-holding-heart" scale="6" class="color-black mx-auto"/></b-col>
                    </b-row></b-col>
                    <b-col lg="3"><b-row class="pt-4 pr-2 pb-4 pl-2 m-1 bg-blue h-100">
                        <b-col lg="12" class="mx-auto text-center mb-4"><h3 class="color-black mx-auto">Etape 3</h3></b-col>
                        <b-col lg="12" class="mx-auto text-center mb-5"><span class="bg-dark-blue pt-1 pr-4 pb-2 pl-4 mt-1 mb-2 color-white mx-auto"><b>Rechercher</b></span></b-col>
                        <b-col lg="12" class="mx-auto mb-5"><p>
                            Pour enrichir votre jardin d'intérieur, rechercher simplement de nouvelles plantes parmis les annonces proposées sur GreenSwap.<br><br>
                            Vous pouvez à tout moment enregistrer une annonce dans vos <b>Favoris</b> afin de continuer vos recherches tranquillement.<br><br>

                            <b>L'échange :</b><br>
                            1) Choisir une annonce
                            2) Contacter le propriétaire : Si une annonce vous intéresse, contacter le propriétaire directement grâce à la <b>discussion instantanée</b> en lui indiquant la plante qui vous plaît.
                            3) Proposition d'échange : Proposer via la discussion instantanée une liste de plantes ou de boutures afin que la personne puisse choisir une plante en échange.<br>
                            3) Point d'échange : convenez ensuite d'un point d'échange en précisant la date, l'heure et le lieu d'échange.<br>
                            Par prévention, il est généralement conseillé de ne pas divulguer votre adresse exacte. Privilégier par exemple une station de métro ou de bus.<br>
                            <br>
                            <b>Notes :</b> Nous prônons la bienveillance et sollicitons l'émergence de nouvelles rencontres et amitiés autour d'une passion commune, la nature!<br>
                            Aidez nous à créer des moments de partages magiques !


                        </p></b-col>
                        <b-col lg="12" class="mx-auto mb-5 text-center"><v-icon name="search" scale="6" class="color-black mx-auto"/></b-col>
                    </b-row></b-col>
                    <b-col lg="3"><b-row class="pt-4 pr-2 pb-4 pl-2 m-1 bg-blue h-100">
                        <b-col lg="12" class="mx-auto text-center mb-4"><h3 class="color-black mx-auto">Etape 4</h3></b-col>
                        <b-col lg="12" class="mx-auto text-center mb-5"><span class="bg-dark-blue pt-1 pr-4 pb-2 pl-4 mt-1 mb-2 color-white mx-auto"><b>Découvrir</b></span></b-col>
                        <b-col lg="12" class="mx-auto mb-5"><p class="text-justify">
                            GreenSwap c'est aussi un espace d'échanges culturelle, de savoirs et de passions.<br><br>
                            Un esprit sain dans un corp sain, c'est notre philosophie de vie.<br><br>
                            On y échange :<br><br>
                            - des fiches pratiques pour apprendre ensemble à être éco-responsable<br>
                            - des conseils en médecine naturelle<br>
                            - des astuces pour prendre soin des plantes<br>
                            - des idées de décoration d'intérieur<br>
                            - des articles sur l'environnement, les sciences, des artistes, les événements culturelles... <br>
                            - des videos de sport et de voyage, des reportages...


                        </p></b-col>
                        <b-col lg="12" class="mx-auto mb-5 text-center"><v-icon name="book-medical" scale="6" class="color-black mx-auto"/></b-col>
                    </b-row></b-col>
                </b-row>
            </b-col>
            <b-col lg="1" class="bg-white"></b-col>
        </b-row>

        <!-- Notre Approche -->
        <b-row id="approche" class="pt-5 pb-5">
            <b-col lg="1" class=""></b-col>
            <b-col lg="5" class="m-0 p-5 bg-img-approche">
                <h2 class="mx-auto bg-white pt-1 pr-4 pb-2 pl-4 mt-2 mb-2">Notre approche</h2>
                <p style="color: white;"><b>Un esprit sain dans un corp sain qui vit en harmonie avec la nature</b></p>
            </b-col>
            <b-col lg="5" class="m-0 p-5 bg-dark-blue">
                <b-row class="p-4">
                    <b-col lg="12" class="mx-auto text-left mb-2"><v-icon name="hand-paper" scale="3" class="color-white"/><h3 class="mx-auto color-white">Agir & être éco responsable</h3></b-col>
                    <b-col lg="12" class="mx-auto text-left mb-3"><p class="color-blue">Se laisser guider au quoditien pour réduire son empreinte écologique.
                        Participer à des combats plus grand pour la protection de la nature.</p></b-col>
                </b-row>
                <b-row class="p-4">
                    <b-col lg="12" class="mx-auto text-left mb-2"><v-icon name="arrows-alt-h" scale="3" class="color-white"/><h3 class="mx-auto color-white">Echanger</h3></b-col>
                    <b-col lg="12" class="mx-auto text-left mb-3"><p class="color-blue">La nature et les plantes médicinales accessible pour tous.
                        Parce que la nature se renouvelle continuellement, on ne devrait pas avoir besoin de payer pour vivre entouré de plantes. Aidons les à se multiplier et échangeons nos variétés gratuitement.</p></b-col>
                </b-row>
                <b-row class="p-4">
                    <b-col lg="12" class="mx-auto text-left mb-2"><v-icon name="eye" scale="3" class="color-white"/><h3 class="mx-auto color-white">Explorer</h3></b-col>
                    <b-col lg="12" class="mx-auto text-left mb-3"><p class="color-blue">Explorons ensemble le monde et nos passions à travers les galeries photographiques, les reportages, les videos sportives, les articles...</p></b-col>
                </b-row>
                <b-row class="p-4">
                    <b-col lg="12" class="mx-auto text-left mb-2"><v-icon name="brain" scale="3" class="color-white"/><h3 class="mx-auto color-white">Partager les savoirs</h3></b-col>
                    <b-col lg="12" class="mx-auto text-left mb-3"><p class="color-blue">En médecine naturelle, en agriculture biologique, en science...</p></b-col>
                </b-row>
            </b-col>
            <b-col lg="1" class=""></b-col>
        </b-row>

        <!-- Bibliothèque -->
        <b-row id="bibliotheque" class="pt-5 pb-5 bg-white">
            <b-col lg="1" class=""></b-col>
            <b-col lg="10" class="m-0 p-0">
                <b-row class="mx-auto pt-5">
                    <h2 class="mx-auto">Bibliothèque</h2>
                </b-row>
                <b-row class="mx-auto p-2">
                    <b-col lg="12" class="">
                        <b-row><span class="bg-black pt-1 pr-5 pb-2 pl-5 color-white mx-auto text-center">Espace culture & news </span></b-row>
                        <b-row><span class="bg-black pt-1 pr-5 pb-2 pl-5 color-white mx-auto text-center">Nos sujets de prédilection :  sport , nature , voyage , art , science,...</span></b-row>
                    </b-col>
                </b-row>
                <b-row class="pt-5">
                    <b-card
                            title="Zabardast"
                            img-src="/images/zabardast.jpg"
                            img-alt="Zabardast"
                            img-top
                            tag="article"
                            style="max-width: 20rem;"
                            class="m-2"
                    >
                        <b-card-text class="text-justify">
                            Le journal intime de voyage d’une incroyable expédition Freeride au cœur de la chaîne du Karakoram.
                            La recherche de l’une des plus belles montagnes du monde à skier, à 5880m.
                            Une aventure si lointaine, si haute, si engagée qu’aucune erreur n’était permise.
                            Pendant cinq semaines, l’équipage a poussé de plus en plus profondément à l’intérieur du Pakistan, avec une boucle de 150 km en totale autonomie, tirant des traîneaux remplis de nourriture, de tentes et de panneaux solaires à travers de gigantesques glaciers. Aussi loin de chez nous que possible. Un point de rencontre de la freeride et de l'alpinisme. Une vraie aventure.
                        </b-card-text>

                        <b-button href="https://www.youtube.com/watch?v=AkigzUFr3ys&t=695s" variant="" class="btn-hover-white border-radius-none w-100 mt-0 bg-blue b-black color-black"><b>Découvrir</b></b-button>
                    </b-card>

                    <b-card
                            title="Maxime Aliaga"
                            img-src="/images/Maxime-aliaga-Papouasie-2.jpg"
                            img-alt="Image"
                            img-top
                            tag="article"
                            style="max-width: 20rem;"
                            class="m-2"
                    >
                        <b-card-text class="text-justify">
                            Plus qu’une passion la photographie naturaliste est pour lui un engagement. Il parcours le monde au travers d’études scientifiques de la faune sauvage ou en tant que volontaire pour des associations oeuvrant pour la préservation de la nature. Il est donc régulièrement au contact de ces écosystèmes et ces espèces menacées ainsi qu’avec les personnes qui se battent au quotidien pour les protéger.
                        </b-card-text>

                        <b-button href="https://maxime-aliaga.com/index.php/fr/accueil/" variant="" class="btn-hover-white border-radius-none w-100 mt-0 bg-blue b-black color-black"><b>Découvrir</b></b-button>
                    </b-card>


                </b-row>
            </b-col>
            <b-col lg="1" class=""></b-col>
        </b-row>

        <!-- Eco-responsabilité & Nos combats -->
        <b-row id="agir" class="pt-5">
            <b-col lg="6" class="m-0 p-5">
                <b-row class="mx-auto pt-5">
                    <h2 class="mx-auto">Être éco-responsable</h2>
                </b-row>
                <b-row class="mx-auto p-2">
                    <span class="bg-black pt-1 pr-5 pb-2 pl-5 color-white mx-auto"><b>Les astuces</b></span>
                </b-row>
                <b-row class="pt-5">
                    <b-link href="/images/10gestesEcoResponsable.gif" class="mx_auto bg-white color-black p-2 m-2 b-black" target="_blank">10 gestes éco-responsable</b-link><br>
                    <b-link href="/images/6_habitudes_a_prendre.jpg" class="mx_auto bg-white color-black p-2 m-2 b-black"  target="_blank">6 habitudes à prendre</b-link><br>
                    <b-link href="/images/EcoResponsabilite_en_france_2014.jpg" class="mx_auto bg-white color-black p-2 m-2 b-black" target="_blank">L'éco-responsabilité en France</b-link><br>
                </b-row>
            </b-col>
            <b-col lg="6" class="m-0 p-5 bg-img-combat">
                <b-row class="mx-auto pt-5">
                    <h2 class="mx-auto color-white">Combat du mois</h2>
                </b-row>
                <b-row class="mx-auto p-2">
                    <span class="bg-black pt-1 pr-5 pb-2 pl-5 color-white mx-auto"><b>Pour la planète</b></span><br>
                </b-row>
                <b-row class="pt-5 text-justify">
                    <p style="color: white;">
                        <b>Les Zápara</b><br><br>
                        Les Zápara vivent dans une partie de la jungle amazonienne, à cheval sur l’Équateur et le Pérou.<br>
                        Ils encourent actuellement un très sérieux risque d'extinction !
                    </p>
                    <div>
                        <b-button v-b-modal.modal-1> ... </b-button>
                        <b-modal id ="modal-1" title="Les Zápara" ok-only>
                            <p class="my-4 text-justify">
                                "Les Zápara ( *Sápara ! ) vivent dans une partie de la jungle amazonienne, à cheval sur l’Équateur et le Pérou. Établis dans l’une des régions du monde les plus riches en biodiversité, ils sont les derniers représentants d’un groupe ethnolinguistique qui comprenait de nombreuses autres populations avant la conquête espagnole.
                                Au cœur de l’Amazonie, ils ont élaboré une culture orale particulièrement riche en connaissances sur l’environnement naturel. En témoignent l’abondance de leur vocabulaire lié à la faune et à la flore ainsi que leurs pratiques médicales et leur connaissance des plantes médicinales de la forêt. Ce patrimoine culturel s’exprime à travers des mythes, des rituels, des pratiques artistiques et leur langue. Cette dernière, qui est le dépositaire de leurs savoirs et tradition orale, constitue véritablement la mémoire du peuple et de la région.
                                <br><br>
                                Quatre siècles d’histoire marqués par la conquête espagnole,
                                l’esclavage, les épidémies, les conversions forcées, les guerres
                                et la déforestation ont presque totalement décimé les Zápara. En dépit de ces nombreuses menaces, ils ont réussi à
                                préserver leurs savoirs ancestraux. Les mariages mixtes avec
                                les Mestizos et d’autres peuples autochtones (Quechua) sont
                                pour beaucoup dans leur survie. Mais cette dispersion signifie également une perte partielle de leur identité.
                                <br><br>
                                La situation actuelle des Zápara est critique. Ils encourent
                                aujourd’hui un très sérieux risque d’extinction. En 2001, ils
                                n’étaient pas plus de 300 (200 en Équateur et 100 au Pérou)
                                et seuls cinq d’entre eux, tous âgés de plus de 70 ans, par-
                                laient encore la langue zápara."
                                <br><br>
                                [ Source : UNESCO ]
                            </p>
                        </b-modal>
                    </div>
                    <em style="color: white;">Photographie Nelly Kim Chi</em>
                </b-row>
            </b-col>
        </b-row>
    </div>
</template>
<script>

    export default {

    };
</script>