<template>
    <div class="hero is-fullheight is-info is-bold">
        <div class="hero-body">
            <div class="container">

                <h1 class="title has-text-centered">Login Form</h1>
                <div class="box">

                    <!-- our signup form ===================== -->
                    <form id="signup-form" @submit.prevent="processForm">

                        <!-- email -->
                        <div class="field">
                            <label class="label">Email</label>
                            <input type="email" class="input" name="email" v-model="email">
                            <p v-if="err_email" class="alert-danger">{{ err_email}}</p>
                        </div>

                        <!-- password -->
                        <div class="field">
                            <label class="label">Mot de passe</label>
                            <input type="password" class="input" name="password" v-model="password">
                            <p v-if="err_password" class="alert-danger">{{ err_password}}</p>
                        </div>

                        <!-- submit button -->
                        <div class="field has-text-right">
                            <p v-if="err_login" class="alert-danger">{{ err_login}}</p>
                            <button type="submit" class="button is-danger">Se connecter</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    export default {
        data() {
            return {
                email: '',
                password: '',

                err_email: '',
                err_password: '',
                err_login: '',
            };
        },
        methods: {

            async processForm(){

                this.err_email = "";
                this.err_password = "";
                this.err_login = "";

                let response = await this.$http.post('/api/login',{ email: this.email, password: this.password });

                if("error" in response.data){
                    if(response.data.error.email) {
                        this.err_email = response.data.error.email;
                    }
                    if(response.data.error.password) {
                        this.err_password = response.data.error.password;
                    }
                    if(response.data.error){
                        this.err_login = response.data.error;
                    }
                    console.log(response);
                }
                else if("success" in response.data){
                    this.$store.commit('loginStatus', "connected");
                    document.cookie = "token="+response.data.success.token;
                    this.$router.push({name: "home"});
                }
            }
        }
    };
</script>