<template>
    <div class="hero is-fullheight is-info is-bold">
        <div class="hero-body">
            <div class="container">

                <h1 class="title has-text-centered">Register Form</h1>
                <div class="box">

                    <!-- our signup form ===================== -->
                    <form id="signup-form" @submit.prevent="processForm">
                        <!-- name -->
                        <div class="field">
                            <label class="label">Name</label>
                            <input type="text" class="input" name="name" v-model="name">
                            <p v-if="err_name" class="alert-danger">{{ err_name}}</p>
                        </div>

                        <!-- pseudo -->
                        <div class="field">
                            <label class="label">Pseudo</label>
                            <input type="text" class="input" name="pseudo" v-model="pseudo">
                            <p v-if="err_pseudo" class="alert-danger">{{ err_pseudo}}</p>
                        </div>

                        <!-- email -->
                        <div class="field">
                            <label class="label">Email</label>
                            <input type="email" class="input" name="email" v-model="email">
                            <p v-if="err_email" class="alert-danger">{{ err_email}}</p>
                        </div>

                        <!-- password -->
                        <div class="field">
                            <label class="label">Mot de passe</label>
                            <input type="password" class="input" name="password" v-model="password">
                            <p v-if="err_password" class="alert-danger">{{ err_password}}</p>
                        </div>

                        <!-- c_password -->
                        <div class="field">
                            <label class="label">Confirmer le Mot de passe</label>
                            <input type="password" class="input" name="c_password" v-model="c_password">
                            <p v-if="err_c_password" class="alert-danger">{{ err_c_password}}</p>
                        </div>

                        <!-- submit button -->
                        <div class="field has-text-right">
                            <button type="submit" class="button is-danger">S'enregistrer</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';

    export default {
        data() {
            return {
                name: '',
                email: '',
                password: '',
                c_password: '',
                pseudo: '',

                err_name: '',
                err_email: '',
                err_password: '',
                err_c_password: '',
                err_pseudo: '',
            };
        },
        methods: {

            async processForm(){

                this.err_name = "";
                this.err_email = "";
                this.err_password = "";
                this.err_c_password = "";
                this.err_pseudo = "";

                let response = await this.$http.post('/api/register',{pseudo: this.pseudo, name: this.name, email: this.email, password: this.password, c_password: this.c_password });

                if("error" in response.data){
                    if(response.data.error.name){
                        this.err_name = response.data.error.name[0];
                    }
                    if(response.data.error.email) {
                        this.err_email = response.data.error.email[0];
                    }
                    if(response.data.error.password) {
                        this.err_password = response.data.error.password[0];
                    }
                    if(response.data.error.c_password) {
                        this.err_c_password = response.data.error.c_password[0];
                    }
                    if(response.data.error.pseudo) {
                        this.err_pseudo = response.data.error.pseudo[0];
                    }
                }
                else if("success" in response.data){
                    this.$store.commit('loginStatus', "connected");
                    this.$router.push({name: "home"});
                    document.cookie = "token="+response.data.success.token;
                }
            }
        }
    };
</script>