<template>
    <div v-if="annonce" class="d-flex" style="margin: 25px 0">
        <div class="col-4">
            <img class="img-fluid" :src="annonce.url_image" :alt="annonce.title">
        </div>
        <div class="col-8">
            <h2>{{ annonce.titre}} (proposé par {{ annonce.user.name }})</h2>
            <p><strong>Description : </strong> {{ annonce.description }}</p>
            <p><strong>Lieu : </strong> {{ annonce.lieu }}</p>
            <router-link class="btn btn-primary" :to="{ name: 'annonces.solo', params: { id:annonce.id }}">Voir l'annonce</router-link>
            <span v-if="user.authenticated">
                <button v-if="isFavoris === 1" class="btn btn-danger" v-on:click="updateFavoris()">
                    Supprimer des favoris
                </button>
                <button v-else class="btn btn-success" v-on:click="updateFavoris()">
                    Ajouter au favoris
                </button>
            </span>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['annonce'],


        data(){
            return{
                isFavoris: this.annonce.isUserFavoris,
            }
        },

        computed:{
            user: function () {
                return window.Laravel.user;
            }
        },

        methods: {
            async updateFavoris() {

                let favorisPut;
                if(this.isFavoris === 1){
                    favorisPut = 0;
                }
                else{
                    favorisPut = 1;
                }
                let annoncePut = {
                    id: this.annonce.id,
                    favoris: favorisPut,
                };
                let response = await this.$http.put('/api/annonces/' + this.annonce.id, annoncePut);
                if("data" in response){
                    this.isFavoris = response.data.isUserFavoris;
                }
            }
        },
    }
</script>